// imports all mixins created from other scss file
@import 'config';
@import 'menu';

* {
    box-sizing: border-box;
}

body {
    @include background;
    color: set-text-color($primary-color);
    height: 100%;
    margin: 0;
    line-height: 1.5;
}

//canvas background with just stars
.stars {
    position: absolute;   
    z-index: -1;
    
    
   }


// canvas background with rain
.cloud {
   position: fixed; 
   z-index: -1;
   height: 100%;
   width: 100%;
   
  }


  .rcloud {
      width:800px;
      margin-top: -120px;
      z-index: -1;
      position: fixed;
      margin-top: -120px;

  }

  .rcloud2 {
    width:800px;
    position: fixed;
    z-index: -1;
    margin-left:400px;
    margin-top: -140px;

}


.rcloud3 {
    width:800px;
    position: fixed;
    z-index: -1;
    margin-left:700px;
    margin-top: -200px;
}

.rcloud4 {
    width:800px;
    position: fixed;
    z-index: -1;
    margin-left:100px;
    margin-top: -170px;
}

.moon-glow {
    z-index: -1;
    border-radius: 50%;
    border: none;
    box-shadow: -2px 0 100px rgb(255,255,240);;
    height: 300px;
    width: 300px;
    position: fixed;
    top: -50px;
    animation:
      glow 40s linear both;
      
  }
  
  .moon {
    z-index: -1;
    background-color:rgb(255,255,240);
    border-radius: 50%;
    border: none;
    height: 100%;
    width: 100%;
    transform: rotate(20deg);
      
  }
  

  @keyframes glow {
    0%{
       box-shadow: -2px 0 100px rgb(255,255,240);
    }
    
    50%{
       box-shadow: -2px 0 100px rgb(255,255,240);
    }
    
    100%{
       box-shadow: -2px 0 100px rgb(255,255,240);
    }
  }


// canvas background with just clouds
.plain {
    position: fixed; 
    display: block;  
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
   }


// canvas morning background
.sun{
    position: absolute;
    z-index: -1;
    
}


// // sun image with rotating keyframe
.sun-img{
    position: absolute;
    z-index: -1;
    width: 800px;
    margin-top: -350px;
    margin-left: -350px;
    animation: sun-img 30s linear infinite both;
}

@keyframes sun-img {
    0% {
              transform: rotate(0);
    }
    100% {
              transform: rotate(360deg);
    }
  }

//Headings
h1, h2, h3 {
    margin: 0;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading{
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color,2), 0.5);
    }

}

a {
    color: #fff;
    text-decoration: none;
}


header{
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}



main {
    padding: 4rem;
    // height: 100%;
    min-height: calc(100vh - 60px);

    .icons {
        margin-top: 1rem;

        a {
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }

    &#home {
        //no scroll bar on home page remove later
        overflow: hidden;
        h1 {
            margin-top: 20vh;
    }
}
}

//about page starts here


.about-info{
    display: grid;
    grid-gap: 30px;
    grid-template-areas:
    'bioimage bio bio'
    'job1 job2 job3'
    'job4 job5 job6'
    'job7 job8 job9';
    grid-template-columns: repeat(3, 1fr); 


    .bio-image{
        grid-area: bioimage;
        margin: auto;
        border-radius: 7%;
        border:$secondary-color 3px solid;
        width: 100%;
        
        
       
    }

    
    
    .bio{
        grid-area: bio;
        font-size: 1.5rem;
    }
    
    .job-1{
        grid-area: job1;
    }
    
    .job-2{
        grid-area: job2;
    }
    
    .job-3{
        grid-area: job3;
    }

    .job-4{
        grid-area: job4;
    }
    
    .job-5{
        grid-area: job5;
    }
    
    .job-6{
        grid-area: job6;
    }


    .job-7{
        grid-area: job7;
    }
    
    .job-8{
        grid-area: job8;
    }
    
    
    .job{
        background: lighten($primary-color, 5);
        padding: .5rem;
        border-bottom: $secondary-color 5px solid;
        border-radius: 7%;
    }
    
    .logo{
        height:75px;
        width: 75px;
    }
}


//Projects

.projects {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;

    img{
        width: 100%;
        height: 200px;
        
        border: #444 solid;

        &:hover{
            opacity: 0.5;
            border-color: white;
            @include easeOut;
        }
    }
}

.projectsJava {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;

    img{
        width: 100%;
        height: 200px;
        
        border: #444 solid;

        &:hover{
            opacity: 0.5;
            border-color: white;
            @include easeOut;
        }
    }
}

.projectsW {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;

    img{
        width: 100%;
        height: 200px;
        
        border: #444 solid;

        &:hover{
            opacity: 0.5;
            border-color: white;
            @include easeOut;
        }
    }
}



//Contact Page

.boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;

    .div{
        font-size: 2rem;
        border: 3px solid #fff;
        padding: 1.5rem 2.5rem;
        margin-bottom: 3rem;
        @include easeOut;

        &:hover{
            padding: 0.5rem 1.5rem;
            background: yellow;
            color: set-text-color($secondary-color);
        }
    }
}
//Buttons styles

.btn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-bottom: 0.3rem;
    &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color);
    }
}

//extending

.btn-dark{
    @extend .btn;
    background: darken($primary-color,50);
    color:#fff;
}

.btn-light{
    @extend .btn;
    background: darken($primary-color,50);
    color:#fff;
}


#main-footer{
    text-align: center;
    padding:  1rem;
    // background: darken($primary-color, 10);
    // color: set-text-color($primary-color);
    // height: 60px;
}

@import 'mobile';

