.container{

    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
    grid-template-areas:

    "header header header"
    "content content content"
    "footer footer footer"

}


.header{

}


.content{

}


.footer{

}


#skill { 
	list-style: none;
	font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	width: 296px;
	margin: 50px auto 0;
	position: relative;
	line-height: 2em;
	padding: 30px 0;
}

#skill li { 
	margin-bottom:50px; 
	background:black;
	background-image: linear-gradient(top, #e1ddd9, #e9e5e2);  
	height:20px; 
	border-radius:10px;  
	box-shadow: 0 1px 0px black, 0 1px 0 #fcfcfc;	  
}

#skill li h3 { 
	position:relative; 
	top:-25px;
}

.bar { 
	height:18px; 
	margin:1px 2px;  
	position:absolute;
	border-radius:10px;
	box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;		
}

.range {
	width:100%; 
	animation: range 2s ease-out;
	background-color: #f674a4;
	background-image: linear-gradient(top, #f674a4, #e06995);
}

.attack {
	width:90%;
	animation: attack 2s ease-out;
	background-color: lime;
	background-image: linear-gradient(top, #f0bb4b, #d9aa44);
}

.fire_rate {
	width:65%;
	animation: fire-rate 2s ease-out;
	background-color: indigo;
	background-image: linear-gradient(top, #a1ce5b, #91ba52);
}


@keyframes range { 
    0% { 
        width:0px;
    } 

    100%{ 
        width:100%;
    }  
}
@keyframes attack{ 
    0%  { 
        width:0px;
    } 100%{ 
        width:90%;
    } 
 }
@keyframes fire-rate { 
    0%  { 
        width:0px;
    } 
    100%{ 
        width:65%;
    }  
}