body{
background-image: url("Images/portback.png");
background-size: cover;


}



.container{
    height: 100vh;
    width: 100vw;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 300px;
    grid-template-areas:
    
    "header header header"
    "content content content"
    "footer footer footer"

}

nav a{
    text-decoration: none;
    color:white; 
    
}



.header ul {
grid-area: header;
display: flex;
justify-content:space-evenly;
list-style: none;
background-color: #292c33;
color:white;
height: 30px;
padding-top: 10px;
}
 



.content{
grid-area: content;
}


.footer{

grid-area: footer;
background-color: #292c33;
color: white;
text-align: center;
}

a{
    text-decoration: none;
}

h2{
    text-align: center;
}

#skill { 
	list-style: none;
	font: 12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	width: 296px;
	margin: 50px auto 0;
	position: relative;
	line-height: 2em;
	padding: 30px 0;
}

#skill li { 
	margin-bottom:50px; 
	background:black;
	height:20px; 
	box-shadow: 0 1px 0px black, 0 1px 0 #fcfcfc;	  
}

#skill li h3 { 
	position:relative; 
	top:-25px;
}

.bar { 
	height:18px; 
	margin:1px 2px;  
	position:absolute;
	box-shadow: 0 1px 0px #fcfcfc inset, 0 1px 0 #bebbb9;		
}

.html {
	width:88%; 
	animation: html 2s ease-out;
	background-color: gray;
	
}

.css {
	width:85%;
	animation: css 2s ease-out;
	background-color: blue;
	
}

.javascript {
	width:65%;
	animation: javascript 2s ease-out;
	background-color: indigo;
	
}

.java {
	width:60%; 
	animation: java 2s ease-out;
	background-color: red;
	
}



@keyframes html { 
    0% { 
        width:0px;
    } 

    100%{ 
        width:88%;
    }  
}
@keyframes css{ 
    0%  { 
        width:0px;
    } 100%{ 
        width:85%;
    } 
 }
@keyframes javascript { 
    0%  { 
        width:0px;
    } 
    100%{ 
        width:65%;
    }  
}

@keyframes java { 
    0%  { 
        width:0px;
    } 
    100%{ 
        width:60%;
    }  
}

.git{
    display: flex;
    justify-content: center;
    
}

